# Dependency directories
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
access.log
package-lock.json
pnpm-lock.yaml

# dotenv environment variables file
.env.local

# dist
# /dist
.vercel

# db
# src/db/user.json
