# Dependency directories
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
access.log

# dotenv environment variables file
.env.local

# dist
app.exe
/dist
.vercel

# db
src/db/user.json
